/*
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Castoro);
@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:700);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:ital@1);
*/

body {
    font-family: "Lato", "Raleway", "Helvetica-Light", "Sans-Serif";
    margin: 50px;
    font-weight: 400;
}

.box-text-shadow {
     text-shadow: 2px 2px 2px #000000;
}

/*.box-text-shadow {
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}*/


pre {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 87%;
  padding: 1rem !important;
  background-color: #f8f9fa !important;
}

h1 { /* like `display-3` but actually responsive */
  font-size: 4.5rem;
}


@media (max-width: 500px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 100%;
  }
  h2 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1rem;
  }    
}